.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #562c56;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f0e4d7;
    width: 100vw; 
    box-sizing: border-box; 
}

.site-name {
    font-size: 2rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #f0e4d7;
    font-size: 1.2rem;

}

.nav-links a:hover {
    color: #273140; 
}

.nav-container {
    background-color: #273140;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 100%; 
    margin: auto auto; 
    color: #ffffff;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.5rem;
    max-width: 600px;
    text-align: center;
}

.footer {
    background-color: #562c56;
    padding: 0px 20px;
    text-align: center;
    color: #f0e4d7;
    font-size: 0.9rem;
    width: 100vw; 
    box-sizing: border-box; 
    margin-top: auto; 
}