.request-reset-password-container {
    background-color: #273140;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    color: #ffffff;
}

h2 {
    margin-bottom: 20px;
}

.email-container {
    position: relative;
    margin-bottom: 20px;
}

.email-container label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.email-container input {
    width: 100%;
    padding: 10px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #723172;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    color: #000;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: #723172;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #562c56;
}

.login-link {
    margin-top: 20px;
}
