.reset-password-container {
    background-color: #273140;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    color: #ffffff;
}

h2 {
    margin-bottom: 20px;
}

.form {
    width: 100%;
}

.password-container {
    position: relative;
    margin-bottom: 20px;
}

.input-with-icon {
    position: relative;
}

.input-with-icon input {
    width: 100%;
    padding-right: 40px;
    padding-left: 10px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #723172;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 40px;
    background-color: #fff;
    color: #000;
}

/* Estilizando o botão de olho */
.eye-button {
    width: 0;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    font-size: 18px;
    color: #723172;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
}

.eye-button:hover {
    color: #562c56;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: #723172;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #562c56;
}

.error {
    color: #ff6b6b;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.success {
    color: #38c172;
    font-size: 0.9rem;
    margin-bottom: 15px;
}