.signup-container {
    background-color: #273140;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    color: #ffffff;
}

/* Botão de Olho */
.eye-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    font-size: 16px;
    color: #723172;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.eye-button:hover {
    color: #ffffff;
}

.form {
    width: 100%;
}

.password-container {
    position: relative;
    margin-bottom: 20px;
}

.input-with-icon {
    position: relative;
}

.input-with-icon input {
    width: 100%;
    padding-right: 40px; /* Adiciona espaço para o botão */
}