.signup-page {
    background-color: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}	

.signup-container {
    background-color: #273140;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    color: #ffffff;
}

/* Botão de Olho */
.eye-button {
    width: 0;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    font-size: 18px;
    color: #723172;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
}

.eye-button:hover {
    color: #562c56 ;
}

.form {
    width: 100%;
}

.password-container {
    position: relative;
    margin-bottom: 20px;
}

.input-with-icon {
    position: relative;
}

.input-with-icon input {
    width: 100%;
    padding-right: 40px;
    padding-left: 10px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #723172;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 40px;
}
